In [4]:
import pyspark

In [5]:
import pandas as pd

In [11]:
pd.read_csv('titanic.csv')

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [2]:
from pyspark.sql import SparkSession

In [3]:
#creating a spark session 
spark = SparkSession.builder.appName('dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/16 21:04:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
spark

In [15]:
df_pyspark = spark.read.csv('titanic.csv')

In [16]:
#df in pyspark shows the column number and what values are included in those columns
df_pyspark

DataFrame[_c0: string, _c1: string]

In [18]:
# reading the dataset
#how to read data using pyspark in more common way
spark.read.option('header', 'true').csv('titanic.csv').show()

+-----------+--------+
|PassengerId|Survived|
+-----------+--------+
|        892|       0|
|        893|       0|
|        894|       0|
|        895|       0|
|        896|       1|
|        897|       0|
|        898|       1|
|        899|       0|
|        900|       1|
|        901|       0|
|        902|       0|
|        903|       1|
|        904|       1|
|        905|       0|
|        906|       1|
|        907|       1|
|        908|       0|
|        909|       0|
|        910|       0|
|        911|       0|
+-----------+--------+
only showing top 20 rows

In [4]:
df_pyspark = spark.read.option('header', 'true').csv('titanic.csv')

In [20]:
#lets check if we are reading this particular dataframe using pyspark
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
df_pyspark.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)

In [24]:
# automatically check the data type in schemas

df_pyspark = spark.read.option('header', 'true').csv('titanic.csv', inferSchema=True)

In [5]:
df_pyspark

DataFrame[PassengerId: string, Survived: string]

In [26]:
#check the columns
df_pyspark.columns

['PassengerId', 'Survived']

In [27]:
df_pyspark.head(5)

[Row(PassengerId=892, Survived=0),
 Row(PassengerId=893, Survived=0),
 Row(PassengerId=894, Survived=0),
 Row(PassengerId=895, Survived=0),
 Row(PassengerId=896, Survived=1)]

In [28]:
df_pyspark.show()

+-----------+--------+
|PassengerId|Survived|
+-----------+--------+
|        892|       0|
|        893|       0|
|        894|       0|
|        895|       0|
|        896|       1|
|        897|       0|
|        898|       1|
|        899|       0|
|        900|       1|
|        901|       0|
|        902|       0|
|        903|       1|
|        904|       1|
|        905|       0|
|        906|       1|
|        907|       1|
|        908|       0|
|        909|       0|
|        910|       0|
|        911|       0|
+-----------+--------+
only showing top 20 rows

In [29]:
df_pyspark.select('PassengerId').show()

+-----------+
|PassengerId|
+-----------+
|        892|
|        893|
|        894|
|        895|
|        896|
|        897|
|        898|
|        899|
|        900|
|        901|
|        902|
|        903|
|        904|
|        905|
|        906|
|        907|
|        908|
|        909|
|        910|
|        911|
+-----------+
only showing top 20 rows

In [31]:
type(df_pyspark.select('PassengerId'))

pyspark.sql.dataframe.DataFrame

In [33]:
df_pyspark.select(['PassengerId', 'Survived']).show()

+-----------+--------+
|PassengerId|Survived|
+-----------+--------+
|        892|       0|
|        893|       0|
|        894|       0|
|        895|       0|
|        896|       1|
|        897|       0|
|        898|       1|
|        899|       0|
|        900|       1|
|        901|       0|
|        902|       0|
|        903|       1|
|        904|       1|
|        905|       0|
|        906|       1|
|        907|       1|
|        908|       0|
|        909|       0|
|        910|       0|
|        911|       0|
+-----------+--------+
only showing top 20 rows

In [34]:
df_pyspark.dtypes

[('PassengerId', 'int'), ('Survived', 'int')]

In [36]:
df_pyspark.describe().show()

+-------+------------------+-------------------+
|summary|       PassengerId|           Survived|
+-------+------------------+-------------------+
|  count|               418|                418|
|   mean|            1100.5| 0.3660287081339713|
| stddev|120.81045760473994|0.48229469397427244|
|    min|               892|                  0|
|    max|              1309|                  1|
+-------+------------------+-------------------+

In [47]:
from pyspark.sql.functions import when

In [56]:
#adding new columns to df
df_pyspark.withColumn('Survived2', when(df_pyspark['Survived']== 1, 'yes').otherwise('no')).show()
df_pyspark2 = df_pyspark.withColumn('Survived2', when(df_pyspark['Survived']== 1, 'yes').otherwise('no'))

+-----------+--------+---------+
|PassengerId|Survived|Survived2|
+-----------+--------+---------+
|        892|       0|       no|
|        893|       0|       no|
|        894|       0|       no|
|        895|       0|       no|
|        896|       1|      yes|
|        897|       0|       no|
|        898|       1|      yes|
|        899|       0|       no|
|        900|       1|      yes|
|        901|       0|       no|
|        902|       0|       no|
|        903|       1|      yes|
|        904|       1|      yes|
|        905|       0|       no|
|        906|       1|      yes|
|        907|       1|      yes|
|        908|       0|       no|
|        909|       0|       no|
|        910|       0|       no|
|        911|       0|       no|
+-----------+--------+---------+
only showing top 20 rows

In [57]:
# drop the column

df_pyspark2.drop('Survived2').show()

+-----------+--------+
|PassengerId|Survived|
+-----------+--------+
|        892|       0|
|        893|       0|
|        894|       0|
|        895|       0|
|        896|       1|
|        897|       0|
|        898|       1|
|        899|       0|
|        900|       1|
|        901|       0|
|        902|       0|
|        903|       1|
|        904|       1|
|        905|       0|
|        906|       1|
|        907|       1|
|        908|       0|
|        909|       0|
|        910|       0|
|        911|       0|
+-----------+--------+
only showing top 20 rows

In [70]:
df_pyspark.filter((df_pyspark['PassengerId'] > 890) & (df_pyspark['Survived'] == '0')).show()

+-----------+--------+
|PassengerId|Survived|
+-----------+--------+
|        892|       0|
|        893|       0|
|        894|       0|
|        895|       0|
|        897|       0|
|        899|       0|
|        901|       0|
|        902|       0|
|        905|       0|
|        908|       0|
|        909|       0|
|        910|       0|
|        911|       0|
|        912|       0|
|        913|       0|
|        917|       0|
|        919|       0|
|        921|       0|
|        922|       0|
|        923|       0|
+-----------+--------+
only showing top 20 rows

In [79]:
count_of_filtered_value = df_pyspark.filter((df_pyspark['PassengerId'] > 890) & (df_pyspark['Survived'] == '0')).count()
print(count)

265

In [7]:
df_pyspark

DataFrame[PassengerId: string, Survived: string]